<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Qusion | Testing AMQP and Phusion Passenger Integration</title>
  
</head>
<body id="index.html" onload="">
  <h1 id="qusion">Qusion</h1>
  <div id="message">
    Pushed message to the queue: <%= @random_string %><br />
    Created a new channel? <%= @new_channel.to_s%>
  </div>
</body>